<p class="certificate_name"> APPLICATION FOR CERTIFICATE OF ELIGIBILITY </p>

Applicants are requested to go through the following instruction carefully before filling up the application form: 

<ol>
	<li> The application must be accompanied by the prescribed fee of Rs. 500/-.</li> <br>
	<li> The following original certificates and their certified copies must be attached with the application form. The application form will not be accepted and/or attended to without their certificates. <strong> The original certiicates will be returned with Final elegibility certificate. </strong> </li> <br>
	<ul>
		<li><strong>Migration Certificate </strong>: The original certificate from the Registrar of the University or Public Body from which the applicant has passed the last examination permitting him/her to prosecute his/her study in Parul University. </li>
		<li><strong>Passing Certificate </strong>: The certificate signed by the Registrar of the University or the Secretary of the Public Body of the last examination passed by the applicant in another University or Public Body, stating the examination passed by the applicant from another University or Public body stating the subject wise marks and the result clearly in which the examination was passed and will not be accepted in lieu of this.</li>
		<li><strong> Certificate of Marks </strong>: The certificate signed by the Registrar of the University of the Secretary of the Public Body stating the subject wise marks and the result clearly in which the examination was passed.</li>
		<li><strong>Passing Certificate from the Principal to Provisional Eligibility Certificate </strong>: A Provisional Eligibility Certificate to join a college will be issued only on production of documentary evidence of passing the examination, issued by the Head of Institute or the Registrar of the University or the Secretary of Public Board, the statement of marks will be accepted for Provisional Certificate.</li> <br>
	</ul>
	<li> The candidate should obtain the Final Eligibility Certificate before the end of the term in which admission is taken /sought by producing the required remaining certificates from his/her previous University/Board failing which his/her admission etc. is liable to be cancelled</li> <br>
<li>
In case of not joining the college within one month from the date of obtaining the Provisional Eligibility Certificate of this University. The applicant must inform the University office accordingly in writing without fail.
</li> <br>
<li>
After the expiry of one month from beginning of each academic term, student will have to get the written recommendation from the Principal/Head of Institute where admission is taken/sought by student. </li>
<ol>



